/* Coolors Exported Palette - coolors.co/b5c2b7-8c93a8-62466b-45364b-2d2327 */

/* HSL */
$color1: hsla(129%, 10%, 74%, 1);
$color2: hsla(225%, 14%, 60%, 1);
$color3: hsla(285%, 21%, 35%, 1);
$color4: hsla(283%, 16%, 25%, 1);
$color5: hsla(336%, 13%, 16%, 1);

/* RGB */
$color1: rgba(181, 194, 183, 1);
$color2: rgba(140, 147, 168, 1);
$color3: rgba(98, 70, 107, 1);
$color4: rgba(69, 54, 75, 1);
$color5: rgba(45, 35, 39, 1);