/* Coolors Exported Palette - coolors.co/561d25-ce8147-bcd8c1-ffff82-f5f7dc */

/* HSL */
$color1: hsla(352%, 50%, 23%, 1);
$color2: hsla(26%, 58%, 54%, 1);
$color3: hsla(131%, 26%, 79%, 1);
$color4: hsla(60%, 100%, 75%, 1);
$color5: hsla(64%, 63%, 92%, 1);

/* RGB */
$color1: rgba(86, 29, 37, 1);
$color2: rgba(206, 129, 71, 1);
$color3: rgba(188, 216, 193, 1);
$color4: rgba(255, 255, 130, 1);
$color5: rgba(245, 247, 220, 1);