body {
  text-align: center;
  background-color: #E4E8E4; /* https://coolors.co/b5c2b7-8c93a8-62466b-45364b-40373a --platinum shade */ 
}

#logo {
    height: 64px;
    width: 64px;
    float:left;
    margin: 0;
    padding: 0;
}

a:hover {
  cursor: pointer;
}

#content {
  margin-top:64px;
}

ul {
  text-align: center;
  margin: auto;
}

#accountField {
  font-size: 0.6em;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
    
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#diamondIcon {
  height: 20px;
  float: left;
}

#diamondImg {
  position: relative;
  right: 34px;
  height:18px;
  bottom: 4px;
}

#diamondCollection {
  right: 10px;
  height: 32px;
  width: 108px;
  top: 8px;
  box-shadow: inset 0px 0px 1px 1px #9980A0;
}

#addDiamondsBtn {
  font-size: 1em;
  padding: 10px 8px 10px 80px; /* top right bottom left */
  position: relative;
  bottom: 76px;
  // left: 40px;
  right: 16px;
}

#diamondText {
  color: #74D1E2;
  position: relative;
  left: 6px;
  bottom: 24px;
  margin: 0;
  padding: 0;
}

#addDiamondsBtn:hover {
  color: #FFFAC7;
}

#diamondCollection:hover {
  border: 1px solid #FFFAC7;
  text-shadow: .4px .4px 1px #93E8F8;
  box-shadow: 0px 0px 6px  #FFFAC7;
}

#maxFightersCollapsible {
  width: 65%;
  margin: auto;
}

#user, #pass, #pass2, #newPass, #newPass2 {
    border-radius: 12px;
    text-align: center;
}

#user:focus, #pass:focus, #pass2:focus, #newPass:focus, #newPass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #9980A0;
}

#changePassForm {
  text-align: center;
  margin: auto;
  width: 40%;
}

#changePassForm label {
  font-size:1.5em;
  color: #777;
}